html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.frame {
    width: 375px;
    margin: 0 auto;
    border: 1px #ababab solid;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.title {
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.title-em {
    font-weight: 900;
}
.sub-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.2rem;
}
.center-title {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.txt {
    width: 300px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
}

.heading {
    font-weight: 900;
    margin-left: 40px;
    font-size: 50px;
    margin-bottom: 30px;
}

.image {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}

.footer {
    width: 100%;
    height: 160px;
    background-color: #8C8D95;
    color: #6B6D79;
    overflow: hidden;
}

.footer-title {
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.footer-title-em {
    font-weight: 900;
}
.footer-sub-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.2rem;
}
.copy {
    text-align: center;
}